
@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,700&display=swap');
body{
background-color:#EFA7BB;
    /* Vamos decorar sua casa */

}
h3{
/* ieDekora é uma plataforma para inspirar os amantes de design de interiores. */
 
position: absolute;
width: 304px;
height: 51px;
left: 800px;
top: 330px;

font-family: Ubuntu;
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 27px;

color: #000000;


}
h1{
position: absolute;
width: 376px;
height: 273px;
left: 800px;
top: 400 px;

font-family: Bell MT;
font-style: normal;
font-weight: bold;
font-size: 80px;
line-height: 89px;

color: #000000;

text-shadow: 4px 8px 4px rgba(0, 0, 0, 0.25);
}

#imgpos {

    /* Cool Kids Staying Home */

position: absolute;
width: 669px;
height: 583px;
left: 200px;
top: 196px;


opacity: 0.8;
filter: drop-shadow(8px 10px 4px rgba(0, 0, 0, 0.25));

}

/* Rectangle 7 */
h2{
    /* Login */

position:relative;  
width: 112px;
height: 220px;
left: 400px;

top: 400px;

font-family: Ubuntu;
font-weight: bold;
font-size: 30px;
line-height: 34px;

color: #000000;
 /* o retangulo */
 
 position: absolute;
 width: 237px;
 height: 58px;
 left: 800px;
 top: 400px;
 
 background: #FFFFFF;
 box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
 border-radius: 30px;
 
}
