.228_15 { 
	overflow:hidden;
}
.e228_15 { 
	background-color:rgba(255, 255, 255, 1);
	width:1440px;
	height:1024px;
	position:absolute;
}
.e228_40 { 
	
	width:664px;
	height:578px;
	position:absolute;
	left:38px;
	top:407px;
	background-image:url('./_images/cool_kids_alone_time.png');
	background-repeat:no-repeat;
	background-size:cover;
}
.e228_16 { 
	color:rgba(0, 0, 0, 1);
	width:638px;
	height:31px;
	position:absolute;
	left:1680px;
	top:225px;
	font-family:Nunito Sans;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
}
.e228_54 { 
	width:30px;
	height:30px;
	position:absolute;
	left:1850px;
	top:238px;
	background-image:url(images/chevron_right.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e228_51 { 
	color:rgba(0, 0, 0, 1);
	width:638px;
	height:107px;
	position:absolute;
	left:71px;
	top:350px;
	font-family:Ubuntu;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e228_50 { 
	color:rgba(0, 0, 0, 1);
	width:638px;
	height:31px;
	position:absolute;
	left:1455px;
	top:225px;
	font-family:Nunito Sans;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
}
.e228_17 { 
	color:rgba(239.00000095367432, 167.00000524520874, 187.00000405311584, 1);
	width:213px;
	height:31px;
	position:absolute;
	left:1280px;
	top:224px;
	font-family:Nunito Sans;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
}
.e228_19 { 
	color:rgba(0, 0, 0, 1);
	width:456px;
	height:168px;
	position:absolute;
	left:71px;
	top:155px;
	font-family:Bell MT;
	text-align:left;
	font-size:50px;
	letter-spacing:0;
}
.e228_24 { 
	width:30px;
	height:30px;
	position:absolute;
	left:1169px;
	top:238px;
	background-image:url(images/chevron_left.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e228_25 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(239.00000095367432, 167.00000524520874, 187.00000405311584, 1);
	width:2440px;
	height:95px;
	position:absolute;
	left: -10px;
	right: 100px;
	top: -10px;
}
.e228_26 { 
	
	width:30.833335876464844px;
	height:24.46666717529297px;
	position:absolute;
	left:1825px;
	top:40px;
	background-image:url(images/Vector.png);
}
.e228_27 { 
	width:38px;
	height:29px;
	position:absolute;
	left:1724px;
	top:37px;
	background-image:url(images/user.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e228_30 { 
	width:259px;
	height:451px;
	position:absolute;
	left:1010px;
	top:457px;
	background-image:url(images/rectangle_12.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e228_36 { 
	width:443px;
	height:56px;
	position:absolute;
	left:47px;
	top:20px;
}
.e228_37 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:390px;
	height:56px;
	position:absolute;
	left:20px;
	top:20px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e228_38 { 
	color:rgba(0, 0, 0, 0.44999998807907104);
	width:257px;
	height:16px;
	position:absolute;
	left:66px;
	top:30px;
	font-family:Nunito Sans;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e228_42 { 
	width:30px;
	height:30px;
	position:absolute;
	left:29px;
	top:30px;
	background-image:url(images/search.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e228_39 { 
	width:259px;
	height:451px;
	position:absolute;
	left:751px;
	top:534px;
	background-image:url(images/rectangle_5.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e228_46 { 
	width:259px;
	height:451px;
	position:absolute;
	left:1045px;
	top:896px;
	background-image:url(images/rectangle_13.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.228_41 { 
	border:0px solid rgba(0, 0, 0, 1);
}
.e228_41 { 
	width:245px;
	height:451px;
	position:absolute;
	left:1045px;
	top:332px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
	background-image:url(images/rectangle_4.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e228_31 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 0);
	width:37px;
	height:32px;
	position:absolute;
	left:1224px;
	top:350px;
}
.e228_32 { 
	width:37px;
	height:32px;
	position:absolute;
	left:0px;
	top:0px;
}
.e228_33 { 
	background-color:rgba(0, 0, 0, 0.8999999761581421);
	width:30.83333396911621px;
	height:24.46666717529297px;
	position:absolute;
	left:3.0833334922790527px;
	top:4px;
}
.e228_43 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 0);
	width:37px;
	height:32px;
	position:absolute;
	left:959px;
	top:558px;
}
.e228_44 { 
	width:37px;
	height:32px;
	position:absolute;
	left:0px;
	top:0px;
}
.e228_45 { 
	background-color:rgba(0, 0, 0, 0.8999999761581421);
	width:30.83333396911621px;
	height:24.46666717529297px;
	position:absolute;
	left:3.0833334922790527px;
	top:4px;
}
.e228_47 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 0);
	width:37px;
	height:32px;
	position:absolute;
	left:1253px;
	top:930px;
}
.e228_48 { 
	width:37px;
	height:32px;
	position:absolute;
	left:0px;
	top:0px;
}
.e228_49 { 
	background-color:rgba(0, 0, 0, 0.8999999761581421);
	width:30.83333396911621px;
	height:24.46666717529297px;
	position:absolute;
	left:3.0833334922790527px;
	top:4px;
}
.e228_56 { 
	width:30px;
	height:30px;
	position:absolute;
	left:736px;
	top:238px;
	background-image:url(images/chevron_left.png);
	background-repeat:no-repeat;
	background-size:cover;
}
